:root {
  /*color*/
  --main--color: #FAEC52;
  --sub--color: #000000;
  --footer--color: #ffffff;
}


/* 상단바 배경 */
.bdHeader .navbar {
  background-color: var(--main--color);
}

/* 상단 카메라 아이콘 */
svg {
  color: var(--sub--color);
}

/* 생존스타그램 텍스트 */
.bdHeader .navbar .navbar-brand {
  color: var(--sub--color);
}

/* 왼쪽 사이드바 상자*/
#sideMenu > a {
  background-color: #fff;
  color: var(--sub--color);
}

/* 왼쪽 사이드바 상자*/
#sideMenu > a.active {
  background-color: var(--main--color);
  color: var(--sub--color);
}

/* Feature 카드*/
.card .card-header {
  background-color:var(--main--color);
}

/* 등록하기 버튼 */
.mt-3 .btn {
  background-color: var(--main--color);
  color: var(--sub--color);
}

/* 페이지바 */
.pagination .page-link {
  color: var(--sub--color);
}

/* 하단바 색상 */
footer {
  background-color: var(--footer--color);
}

/* © 2022 Copyright */
footer .text-center {
  color: var(--sub--color);
}
/* talmoTalmoBim.com */
footer .text-center .textdark{
  color: var(--sub--color);
  text-decoration: var(--sub--color);
}

.bdSideber {
  background-image: url("/static/img/egg5.png");
  background-size: 280px;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin-top: 100px;
}