html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-image: url("/static/img/01.jpg");
  background-size: cover;
}

.card {
  max-width: 500px;
  padding : 10px
}

.card-body {
  width: 350px;
}

/*경고문구 숨김 처리*/
#myForm .help-block {
    display: none;
}
