

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("/static/img/01.jpg");
  background-size: cover;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#loginBtn01:hover {
  background-color: #f5d83c;
  color: white;
}

#loginBtn01 {
  background-color: #ffea87;
}

#loginBtn02:hover {
  background-color: #000;
  color: white;
}

#loginBtn02 {
  background-color: #7c7c7c;
}